.container {
	position: relative;
	top: 30px;
	text-align: center;
}

#flags {
	position: relative;
	background-color: gray;
    height: 10%;
    width: 10%;
	line-height: 27px;
    margin: 1px;
    display: inline-block;
    float: left;
}

#gameboard {
	position: relative;
	top: 30px;
	margin: auto;
	width: 500px;
	height: 500px;
}

.unit {
	position: relative;
	background-color: gray;
    height: 20px;
    width: 20px;
	line-height: 27px;
    margin: 1px;
    display: inline-block;
    float: left;
}

.mine {
}

.hey {
	background-color: blue;
}

.restart {
	position: relative;
	width: 200px;
	height: 60px;
	font-size: 150%;
    line-height: 50px;
    display: none;
	margin: auto;
	top: 40px;

}